@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: canela;
  src:url("../assets/fonts/Canela\ Text\ Family/CanelaText-Medium-Trial.otf");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* font-family: (--); */
}

h1, h2,h3,h4,h5,h6{
  font-family: 'canela';
}

.custom-bg-image {
  background-image: url("../assets/images/herobanner.png");
  height: 818px;
  background-size: cover;
  /* background-position: center; */
}

.card_bg_shape {
  background-image: url("../assets/images/shape.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card_shape_slider {
  background-image: url("../assets/images/Bgslider.png");
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter_banner {
  background-image: url("../assets/images/newsletter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-arrow {
  z-index: 10;
}

.slick-next:before {
  content: none;
} 

.slick-track {
  display: flex !important;
}

.slick-prev::before,
.slick-next::before {
  content: " ";
  display: none;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(122, 119, 119);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-slide .slick-active .slick-current {
  padding: 0px;
  margin: 0px;
}

/* .subcribe_soon_slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  padding: 0;
  border-radius: 100%;
  background-color: #f3e8cf;
  cursor: pointer;
} */
.slick-dots li.slick-active {
  background-color: white;
  height: 7px;
  width: 7px;
  border-radius: 9999px;
}
.slick-dots li {
  background-color: transparent;
  height: 7px !important;
  width: 7px !important;
  border-radius: 9999px;
  border: 1px solid #f3e8cf;
  padding: 3px !important;
}

.slick-dots li.slick-active button::before {
  opacity: 0 !important;
}
.slick-dots li button::before {
  opacity: 0 !important;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  bottom: 0px !important;
}

/* .mobile_view_slider{} */

/* .slick-arrow {
  margin-top: 16px;
} */
@media screen and (min-width: 1040px) { 


  .invest_carousel .slick-next, .invest_carousel .slick-prev {
    position: absolute;
  width: 64px;
  height: 48px;
}
.invest_carousel .slick-next{
  right: -95px;
}
.invest_carousel .slick-prev{
  left: -95px;
}
}
@media screen and (min-width: 768px) { 


  .invest_carousel .slick-next, .invest_carousel .slick-prev {
    position: absolute;
  width: 64px;
  height: 48px;
}
.invest_carousel .slick-next{
  right: -60px;
}
.invest_carousel .slick-prev{
  left: -60px;
}
}
/* Styles for buttons at large screens */
 @media screen and (max-width: 768px) { 
  /* .product_slider ul {
    display: flex !important;
    justify-content: center;
    width: 360px;
    margin-left: 52px;
    height: 91px;
    padding: 10px 0px;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
  } */

  .critics_carousel .slick-next, .critics_carousel .slick-prev {
    position: absolute;
    width: 64px;
    height: 48px;
  }
  .custom-bg-image {
    background-image: url("../assets/images/Mobile-banner.webp");
    height: 868px;
    background-size: cover;
    /* background-position: center; */
  }
}

  .critics_carousel .slick-next{
    right: 16px;
  }
  .critics_carousel .slick-prev{
    left: 16px;
  }

  .invest_carousel .slick-prev , .invest_carousel .slick-next {
    position: absolute;
    width: 64px;
    height: 48px;
    top: 105%;
  }

  .invest_carousel .slick-next{
    right: 95px;
  }
  .invest_carousel .slick-prev{
    left: 95px;
  }


  /* .invest_carousel */
/* }  */

/* Styles for buttons at medium screens */
@media screen and (max-width: 768px) {
  .productcarousel {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
